{% extends "catalog/layout.html" %}

{% load static %}

{% block title %}All categories{% endblock %}


{% block links %}

		<link href="{% static 'catalog/css/styles_index.css' %}" rel="stylesheet"/>

{% endblock %}


{% block main %}

<main id="main">

	<section id="theme" class="grid">
		<div class="theme-wrap">
			<h2>Select product category:</h2>
		</div>
	</section>
	
	<section id="gallery" class="grid">
	<div class="image-wrap">
		<ul>
			{% for category in categories %}
				<li><a href="{{ category.name }}">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	</section>

</main>

{% endblock %}
